
#container {
    display: flex;
    width: 960px;
    height: 960px;
    margin: 0 auto;
    outline: 1px solid black;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.vertical {
    flex-basis: 100%;
    background-color: black;
}

.vertical:hover {
    background-color: red;
}